
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.callToAcionContainer {
  width: 50%
}
.logotext {
  font-family: lateef;
  font-size: 40px;
  font-weight: 900;
  margin-left: 100px;
  color: #2f2f2f;
  margin-bottom: 0;
}

.samples {
  position: relative;
}

.img1 {
  z-index: 1;
    width: 60%;
    transform: rotate(-17deg);
    position: absolute;
    bottom: 91px;
    right: 420px;
}
.img2 {
  transform: rotate(10deg);
}
.text {
  font-family: Lato;
  font-size: 25px;
  line-height: 30px;
  color: #2f2f2f;
  width: 40%;
  font-weight: 100;
  margin-bottom: 50px;
}

.highlight {
  color: #CD0900;
}

.callToAcion {
  border: 8px;
  background-color: #EFA600;
  color: #fff;
  box-shadow: -6px 12px 11px rgba(56, 56, 56, 0.1);
  padding: 15px 60px;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
